@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #f5f5f5;
}

.zbozi {
    width: 900px;
    margin: 60px auto;
    display: flex; 
}

.vizual {
    width: 50%;
    background: linear-gradient(to bottom, #06d7c1, #50cc49);
    color: white;
    padding: 30px;
    position: relative; 
}

.slogan {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 500;
}

.bota {
    position: absolute;
    left: -40px; 
    top: 140px;
}

.bota img {
    width: 415px;
}


.cenovka {
    position: absolute;
    right: 30px;
    bottom: 30px;
    text-align: right;
}

.cena {
    font-size: 28px;
    font-weight: 500;
}

.zaruka {
    font-size: 14px;
}


.detaily {
    width: 50%;
    background-color: white;
    padding: 40px;
    position: relative; 
}


.nazev {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 10px;
}

.produkt {
    color: #959595;
    margin-bottom: 20px;
}


.popis {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #06d7c1;
}


.parametr {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}


.velikosti {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    display: flex; 
    gap: 15px;
}

.velikosti li {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.velikosti .vybrana {
    border: 2px solid #f15f42;
    color: #f15f42;
    font-weight: 500;
}

.tlacitko {
    display: inline-block;
    background-color: #f15f42;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 500;
}